[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
wemake-python-styleguide = "==0.6.3"
# see https://github.com/wemake-services/wemake-python-styleguide/pull/472#issuecomment-460057878
flake8 = '==3.6.0'
mypy = "==0.670"

[packages]
django = "==2.1.5"
django-rest-framework = "*"
pillow = "*"
drf-writable-nested = "*"
celery = "*"
redis = "*"
requests = "*"
drf-yasg = "*"
djangorestframework-camel-case = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
pyuploadcare = "*"

[requires]
python_version = "3.6"
